@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Rapi Talleres</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido a Rapi Talleres</h2>
        <p>
            Rapi Talleres es una Aplicacion del Ciclo 3
            en la Universidad de caldas Grupo 59.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Su Construcion se basó</h2>
        <p>Usando ASP.AspNetCore en el ejercicio de motos rapidisimos </p>
        <p><a class="btn btn-default" href="https://learn.microsoft.com/es-es/aspnet/core/data/ef-rp/intro?view=aspnetcore-6.0&tabs=visual-studio">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descargalo en </h2>
        <p>Tu puedes descargar una copia del proyecto el GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>
