@page
@model RapiTalleres.Pages.Tecnicos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar datos del Tecnico</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tecnico.TecnicoID" />
            <div class="form-group">
                <label asp-for="Tecnico.Nombre" class="control-label"></label>
                <input asp-for="Tecnico.Nombre" class="form-control" />
                <span asp-validation-for="Tecnico.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.Apellido" class="control-label"></label>
                <input asp-for="Tecnico.Apellido" class="form-control" />
                <span asp-validation-for="Tecnico.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.Contacto" class="control-label"></label>
                <input asp-for="Tecnico.Contacto" class="form-control" />
                <span asp-validation-for="Tecnico.Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnico.NivelAcademico" class="control-label"></label>
                <input asp-for="Tecnico.NivelAcademico" class="form-control" />
                <span asp-validation-for="Tecnico.NivelAcademico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-secondary"><i class="bi bi-skip-backward-circle-fill"></i> Volver a la Lista</a>
            </div>
        </form>
    </div>
</div>



